<!DOCTYPE html>
<html>
<head>
  <title>My Scraping App</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col m5 offset-m2 scraped">
       <p>hello</p>
      </div>
      <div class="col m3 notes">
        <p>yo</p>
      </div>
    </div>
  </div>









  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>